.inp {

    text-align: center;



    input {
        background-color: inherit;
        border: none;
        border-bottom: 1px solid white;
        width: 30%;
        font-size: 1.8rem;
        padding: 10px;
        margin-right: 5px;
    }
}