@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Nunito+Sans:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.col-all {
  display: flex;
  gap: 30px;
}
.col-all div {
  width: 100%;
}

.header {
  margin-bottom: 30px;
  text-align: center;
}
.header h2 {
  text-transform: uppercase;
  font-size: 3rem;
}
.header h2::after {
  content: "";
  display: block;
  width: 70px;
  height: 5px;
  background-color: #233785;
  margin: 15px auto;
}

.topbar {
  background-color: #233785;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 11px 0;
}
.topbar ul {
  display: flex;
  justify-content: flex-end;
}
.topbar ul li {
  border-right: 1px solid #ffffff;
  padding: 0 10px;
}
.topbar ul li:last-child {
  border-right: none;
}
.topbar ul li i {
  margin-right: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar ul {
  display: flex;
  gap: 50px;
  font-weight: 700;
  font-size: 1.8rem;
  color: #808080;
}

.hero {
  min-height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-hero.jpg);
  background-position: center;
  background-size: cover;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h1 {
  font-size: 4.8rem;
  margin-bottom: 30px;
}
.hero p {
  margin-bottom: 20px;
}

.btn {
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.primary {
  background-color: #233785;
  color: #ffffff;
  margin-right: 5px;
  -webkit-animation: leftBtn 2s;
          animation: leftBtn 2s;
}
.primary:hover {
  background-color: #020a2a;
}

@-webkit-keyframes leftBtn {
  0% {
    transform: translateX(-50vw) rotateY(720deg);
  }
  100% {
    transform: translateX(0vw) rotateY(0deg);
  }
}

@keyframes leftBtn {
  0% {
    transform: translateX(-50vw) rotateY(720deg);
  }
  100% {
    transform: translateX(0vw) rotateY(0deg);
  }
}
.secundary {
  background-color: #ffffff;
  color: #000;
  -webkit-animation: rightBtn 2s;
          animation: rightBtn 2s;
}
.secundary:hover {
  background-color: #808080;
}

@-webkit-keyframes rightBtn {
  0% {
    transform: translateX(50vw) rotateY(-720deg);
  }
  100% {
    transform: translateX(0vw) rotateY(0deg);
  }
}

@keyframes rightBtn {
  0% {
    transform: translateX(50vw) rotateY(-720deg);
  }
  100% {
    transform: translateX(0vw) rotateY(0deg);
  }
}
.about {
  padding: 100px 0;
}

.about article {
  overflow: hidden;
}

.wraper {
  height: 300px;
  position: relative;
  color: #ffffff;
}
.wraper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.wraper h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  background-color: rgba(35, 55, 133, 0.7);
  transition: 0.4s ease;
}
.wraper h3 i {
  margin-right: 5px;
}
.wraper div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(35, 55, 133, 0.8);
  transition: 0.4s ease;
}
.wraper div p {
  overflow-y: auto;
  margin-bottom: 5px;
}
.wraper div a {
  font-weight: 700;
}

.wraper:hover div {
  top: 0;
}

.feature {
  padding: 100px 0;
  background-color: #f2f2f2;
  min-height: 60vh;
}
.feature article {
  margin-top: 8rem;
}
.feature article > div {
  border: 1px solid black;
  border-radius: 10px;
  height: 215px;
  padding: 5rem 20px 20px;
  text-align: center;
  position: relative;
}
.feature article > div h3 {
  font-weight: 700;
}

.feature .icon-rotate {
  width: 60px;
  height: 60px;
  border-radius: 7px;
  background-color: #233785;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transform: rotate(45deg);
  top: -30px;
  left: calc(50% - 30px);
}
.feature .icon-rotate i {
  transform: rotate(-45deg);
  color: white;
  font-size: 30px;
}
.feature .icon-rotate .za-flex {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=main.css.map */